HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

package-lock.json

vueauthclient/node_modules
vueauthclient/.DS_Store
vueauthclient/node_modules/
vueauthclient/dist/
vueauthclient/npm-debug.log*
vueauthclient/yarn-debug.log*
vueauthclient/yarn-error.log*

# Editor directories and files
vueauthclient/.idea
vueauthclient/.vscode
vueauthclient/*.suo
vueauthclient/*.ntvs*
vueauthclient/*.njsproj
vueauthclient/*.sln

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
